.modal {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  & .center {
    color: #777777;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    height: 80%;
    margin-top: 50px;
    text-align: center;
    border-radius: 7px;
    & h2 {
      color: black;
    }
    & .info {
      height: 20%;
    }
    & .history {
      height: 65%;
      & nav {
        margin-bottom: 20px;
      }
      & .names {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        & div {
          width: 15%;
          color: black;
          border-bottom: 2px solid grey;
        }
      }
      & .table {
        padding-left: 8px;
        overflow: auto;
        height: 60%;
        margin-bottom: 20px;
        width: 90%;

        & div {
          padding-bottom: 3px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          & div {
            width: 15%;
            padding-top: 3px;
            padding-bottom: 3px;
            color: grey;
            border-bottom: 1px solid silver;
          }
        }
      }
    }
    & .bottom-nav {
      height: 15%;
      & button {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        padding: 10px 20px;
        background-color: darkorange;
        color: white;
        border: 0;
        border-radius: 7px;
      }
    }
  }
}
