<div class="modal">
  <div class="center">
    <div class="info">
      <h2>Game Over</h2>
      <p *ngIf="historyData.length !== 0">
        Your play is over! <br />You played {{ timePlayed }}s, and scored
        {{ score }} points!
      </p>
    </div>
    <div class="history">
      <h2>Game history</h2>
      <nav>
        Sort by:
        <button (click)="sortByTimestampHandler()">
          <fa-icon *ngIf="sortByTimestampUP" [icon]="faAngleUp"></fa-icon>
          <fa-icon *ngIf="!sortByTimestampUP" [icon]="faAngleDown"></fa-icon>
          Timestamp
        </button>
        Filter by action type:
        <select (change)="filterByActionHandler($event)">
          <option
            *ngFor="let option of optionsInFilter"
            [value]="option"
            [attr.selected]="option === optionSelected ? true : null"
          >
            {{ option }}
          </option>
        </select>
      </nav>
      <div class="names">
        <div>Timestamp</div>
        <div>Action</div>
        <div>Playing time</div>
        <div>Score</div>
      </div>
      <div class="table">
        <div
          *ngFor="
            let item of historyData
              | sortBy: sortByTimestampUP
              | filterByAction: optionSelected
          "
        >
          <div>{{ item.timeStamp | date: "dd.M.YYYYr H:mm:ss" }}</div>
          <div>{{ item.action }}</div>
          <div>{{ item.timePlayed }}</div>
          <div>{{ item.score }}</div>
        </div>
      </div>
    </div>
    <div class="bottom-nav">
      <button type="button" (click)="backToGame()">BACK TO GAME</button>
    </div>
  </div>
</div>
