<div class="center">
  <h2>Welcome to ngTetris</h2>

  <p>
    Sign in and click GO TO GAME<br />
    button to activate game screen<br />
    You know the rules!
  </p>

  <form class="form" #loginForm="ngForm" (submit)="verify(loginForm.form)">
    <div class="input-container">
      <label for="name">Your name:</label>
      <input
        ngModel
        #nameInput="ngModel"
        required
        type="text"
        name="name"
        id="name"
        placeholder="Enter your name"
        minlength="3"
        [disabled]="loginForm.submitted"
      />
      <div class="alert">
        <div
          *ngIf="
            !nameInput.valid && nameInput.touched && nameInput.value === ''
          "
        >
          Name is required
        </div>
        <div
          *ngIf="
            !nameInput.valid &&
            nameInput.touched &&
            nameInput.value.length < 3 &&
            nameInput.value != ''
          "
        >
          Name must be at least 3 characters long
        </div>
      </div>
      <div class="valid">
        <div
          *ngIf="
            nameInput.valid && nameInput.touched && nameInput.value.length >= 3
          "
        >
          Name is valid
        </div>
      </div>
    </div>

    <div class="input-container">
      <label for="secret">Secret code:</label>
      <input
        ngModel
        #secretInput="ngModel"
        required
        type="text"
        name="secret"
        id="secret"
        placeholder="Enter your secret code"
        [disabled]="loginForm.submitted"
      />
      <div class="alert">
        <div
          *ngIf="
            !secretInput.valid &&
            secretInput.touched &&
            secretInput.value === ''
          "
        >
          Secret code is required
        </div>
      </div>
      <div class="valid">
        <div *ngIf="secretInput.valid && secretInput.touched">
          Secret code is valid
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="switch-container">
        <label for="nightMode">Night mode:</label>
        <input
          class="switch"
          type="checkbox"
          name="nightMode"
          id="nightMode"
          [checked]="nightModeOn"
          (change)="selectedColorPaletteHandler()"
        />
        <span class="slider"></span>
      </div>
      <button type="submit" [disabled]="!loginForm.valid">Sign in</button>
    </div>

    <hr />
    <button
      type="button"
      class="start-button"
      value="game"
      [disabled]="!isLogged"
      [routerLink]="['/game', selectedColorPallette]"
    >
      go to game
    </button>
  </form>
</div>
