<div class="center">
  <h2>Welcome to ngSnake</h2>

  <p>
    Sign in and click GO TO GAME<br />
    button to activate game screen<br />
    You know the rules!
  </p>

  <form class="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <label for="name">Your name:</label>
    <input
      type="text"
      name="name"
      id="name"
      placeholder="Enter your name"
      formControlName="name"
    />
    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert">
      <div *ngIf="name?.errors?.['required']">Name is required</div>
      <div *ngIf="name?.errors?.['minlength']">
        Name must be at least 2 characters long
      </div>
    </div>

    <label for="email">Your e-mail:</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Enter your e-mail"
      formControlName="email"
    />
    <div
      *ngIf="email?.invalid && (email?.dirty || email?.touched)"
      class="alert"
    >
      <div *ngIf="email?.errors?.['required']">e-mail is required</div>
      <div *ngIf="email?.errors?.['email']">e-mail is invalid</div>
    </div>

    <button
      type="submit"
      [disabled]="
        (!contactForm.valid && !isLogged) || (contactForm.valid && isLogged)
      "
    >
      Sign in
    </button>
  </form>
</div>
