.center {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  & p {
    font-size: 1.2em;
    color: rgb(119, 119, 119);
    margin-bottom: 30px;
    & .small {
      font-size: 0.8em;
    }
  }
  & .form {
    & .input-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      & label {
        display: block;
        color: rgb(119, 119, 119);
        text-align: left;
        margin-bottom: 5px;
      }

      & input {
        padding: 10px 15px;
        margin-bottom: 10px;
        width: 50%;
        border-radius: 5px;
        border: 1px solid grey;
        margin-bottom: 40px;
        &:disabled {
          color: lightgrey;
          border: 1px solid lightgrey;
        }
        &.ng-invalid.ng-touched {
          border: 1px solid red;
        }
        &.ng-valid.ng-touched {
          border: 1px solid green;
        }
      }
      & .alert {
        display: block;
        position: absolute;
        color: red;
        top: 65px;
      }
      & .valid {
        display: block;
        position: absolute;
        color: green;
        top: 65px;
      }
    }
    & .wrapper {
      & .switch-container {
        position: relative;
        display: inline-block;
        right: 70px;
        top: -10px;

        & label {
          position: relative;
          display: inline-block;
          bottom: 14px;
          top: 10px;
          color: rgb(119, 119, 119);
        }
        & input {
          z-index: 300;
          opacity: 0;
          width: 72px;
          height: 36px;
          cursor: pointer;
          position: absolute;
   

          &:checked + .slider {
            background-color: darkorange;
          }

          // &:focus + .slider {
          //   box-shadow: 0 0 1px darkorange;
          // }

          &:checked + .slider:before {
            transform: translateX(35px);
          }
        }

        & .slider {
          z-index: 20;
          position: absolute;
          cursor: pointer;
          top: 3px;
          left: 94px;
          width: 70px;
          height: 35px;
          border-radius: 999px;

          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        & .slider:before {
          position: absolute;
          content: "";
          height: 27px;
          width: 27px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          border-radius: 50%;
        }
      }
      & button {
        position: relative;
        left: 50px;
        top: 1px;
      }
    }

    & button {
      background-color: darkorange;
      color: white;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      text-transform: uppercase;
      font-size: 1em;
      margin-top: 10px;
      padding: 10px 20px;
      border-radius: 5px;
      border: 0;
      cursor: pointer;
      transition: all 0.3s ease-in;
      margin-bottom: 30px;
      &:hover {
        background-color: #ff4d00;
      }
      &:disabled {
        cursor: auto;
        background-color: silver;
        color: grey;
      }
    }
  }
  & hr {
    width: 70%;
    border-top: 1px solid lightgray;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
  }
  // & form.ng-submitted {
  // 	visibility: hidden;
  // }
}
