<div class="center">
  <h2>Welcome to ngSnake</h2>
  <p>
    Sign in and click GO TO GAME<br />
    button to activate game screen<br />
    Yo know the rules!
  </p>

  <form class="form">
    <label for="name">Your name:</label>
    <input
      type="text"
      name="name"
      id="name"
      [(ngModel)]="loggedPlayer.name"
      (keyup)="verifyLogin()"
      placeholder="Enter your name"
      [disabled]="disableInputs"
    />
    <label for="email">Your e-mail:</label>
    <input
      type="email"
      name="email"
      id="email"
      [(ngModel)]="loggedPlayer.email"
      (keyup)="verifyLogin()"
      placeholder="Enter your e-mail"
      [disabled]="disableInputs"
    />
    <button type="button" (click)="signIn()" [disabled]="!loginButtonEnable">
      Sign in
    </button>
  </form>
</div>
