<div class="center">
  <div class="game">
    <tetris-core
      #game
      (lineCleared)="onLineCleared()"
      (gameOver)="onGameOver()"
    >
    </tetris-core>
  </div>

  <div class="right-panel">
    <div class="welcome">
      <h2>player</h2>
      <div>{{ playerName }} {{ secretToken }}</div>
    </div>
    <div class="score">
      <h2>
        score
        <button type="button" (click)="handleModal2Visibility(false)">
          Highscores
        </button>
      </h2>
      <div>{{ score }}</div>
    </div>

    <div class="time">
      <h2>time</h2>
      <div>{{ timePlayed }}</div>
    </div>
    <div class="status">
      <h2>status</h2>
      <div>{{ status }}</div>
    </div>

    <div class="statuscontrol">
      <h2>status controls</h2>
      <button
        *ngIf="status !== 'Paused'; else paused"
        value="start"
        (click)="onButtonPressed($event)"
        [class.disabled]="status === 'Playing'"
      >
        <fa-icon [icon]="faPlay"></fa-icon> Start
      </button>
      <ng-template #paused>
        <button value="start" (click)="onButtonPressed($event)">
          <fa-icon [icon]="faPlay"></fa-icon> Resume
        </button>
      </ng-template>
      <button
        value="stop"
        (click)="onButtonPressed($event)"
        [class.disabled]="status === 'Paused' || status === 'Ready'"
      >
        <fa-icon [icon]="faPause"></fa-icon> Pause
      </button>
      <button
        value="reset"
        (click)="onButtonPressed($event)"
        [class.disabled]="status === 'Ready'"
      >
        <fa-icon [icon]="faSyncAlt"></fa-icon> Reset
      </button>
    </div>

    <div class="gamecontrol">
      <h2>game controls</h2>
      <div class="row">
        <div class="directions">
          <button type="button" value="left" (click)="onButtonPressed($event)">
            <fa-icon [icon]="faArrowLeft"></fa-icon> Left
          </button>
          <button value="right" (click)="onButtonPressed($event)">
            <fa-icon [icon]="faArrowRight"></fa-icon> Right
          </button>
        </div>
        <button value="down" (click)="onButtonPressed($event)">
          <fa-icon [icon]="faArrowDown"></fa-icon> Down
        </button>
      </div>

      <div class="rotate">
        <button value="rotate" (click)="onButtonPressed($event)">
          <fa-icon [icon]="faUndo"></fa-icon> Rotate
        </button>
      </div>
    </div>

    <hr />
    <button class="intro" value="intro" (click)="goBack()">
      <fa-icon [icon]="faSignOutAlt" [rotate]="180"></fa-icon> Logout & back to
      intro
    </button>
  </div>
</div>
<app-modal
  [historyData]="historyData"
  [class.hidden]="isModalHidden"
  (handleModalVisibility)="handleModalVisibility($event)"
  [optionsInFilter]="optionsInFilter"
  [timePlayed]="timePlayed"
  [score]="score"
></app-modal>
<app-modal2
  [class.hidden]="isModal2Hidden"
  [isModal2Hidden]="isModal2Hidden"
  (handleModal2Visibility)="handleModal2Visibility($event)"
></app-modal2>
