<div class="center">
  <div class="game">
    <tetris-core
      #game
      (lineCleared)="onLineCleared()"
      (gameOver)="onGameOver()"
    >
    </tetris-core>
  </div>

  <div class="right-panel">
    <div class="welcome">
      <h2>player</h2>
      <div>{{ logDataObject.name }}</div>
    </div>
    <div class="score">
      <h2>score</h2>
      <div>{{ logDataObject.score }}</div>
    </div>
    <div class="time">
      <h2>time</h2>
      <div>{{ logDataObject.timePlayed }}</div>
    </div>
    <div class="status">
      <h2>status</h2>
      <div>{{ logDataObject.status }}</div>
    </div>

    <div class="statuscontrol">
      <h2>status controls</h2>
      <button
        *ngIf="logDataObject.status !== 'Paused'; else paused"
        value="start"
        (click)="onButtonPressed($event)"
        [class.disabled]="logDataObject.status === 'Playing'"
      >
        Start
      </button>
      <ng-template #paused>
        <button value="start" (click)="onButtonPressed($event)">Resume</button>
      </ng-template>
      <button
        value="stop"
        (click)="onButtonPressed($event)"
        [class.disabled]="
          logDataObject.status === 'Paused' || logDataObject.status === 'Ready'
        "
      >
        Pause
      </button>
      <button
        value="reset"
        (click)="onButtonPressed($event)"
        [class.disabled]="logDataObject.status === 'Ready'"
      >
        Reset
      </button>
    </div>

    <div class="gamecontrol">
      <h2>game controls</h2>
      <div class="row">
        <div class="directions">
          <button value="left" (click)="onButtonPressed($event)">Left</button>
          <button value="right" (click)="onButtonPressed($event)">Right</button>
        </div>
        <button value="down" (click)="onButtonPressed($event)">Down</button>
      </div>

      <div class="rotate">
        <button value="rotate" (click)="onButtonPressed($event)">Rotate</button>
      </div>
    </div>

    <hr />
    <button class="intro" value="intro" (click)="onBackClick($event)">
      Logout & back to intro
    </button>
  </div>
</div>
<app-modal
  [historyData]="historyData"
  [class.hidden]="isModalHidden"
  (handleModalVisibility)="handleModalVisibility($event)"
  [optionsInFilter]="optionsInFilter"
  [timePlayed]="timePlayed"
  [score]="score"
></app-modal>
