<main>
  <div class="center">
    <ng-template [ngIf]="showPage === 'intro'">
      <app-intro
        (loginStatsuHandler)="chanegeLoginStatus($event)"
        (sendLoggedPlayer)="getPlayerData($event)"
      >
      </app-intro>
      <hr />
      <button
        class="start-button"
        value="game"
        (click)="changePage($event)"
        [disabled]="!isLogged"
      >
        go to game
      </button>
    </ng-template>
    <ng-template [ngIf]="showPage === 'game'">
      <app-game (onPageBack)="changePage($event)" [player]="player"></app-game>
    </ng-template>
  </div>
</main>
