<div class="center">
  <div class="tabs">
    <button
      class="tab"
      value="intro"
      [class.active]="showPage === 'intro'"
      (click)="changePage($event)"
    >
      Intro
    </button>
    <button
      class="tab"
      value="game"
      [class.active]="showPage === 'game'"
      (click)="changePage($event)"
    >
      Game
    </button>
  </div>

  <ng-template [ngIf]="showPage === 'intro'">
    <app-intro></app-intro>
  </ng-template>

  <ng-template [ngIf]="showPage === 'game'">
    <app-game></app-game>
  </ng-template>
</div>
