<div class="modal2">
  <div class="center">
    <h2>Your score: {{ score }}</h2>
    <hr />
    <h2>Hi scores</h2>
    <nav>
      <button
        type="button"
        [class.selected]="sortDirectionDown"
        (click)="changeSortingDirection('up')"
      >
        Sort Up
      </button>
      <button
        type="button"
        [class.selected]="!sortDirectionDown"
        (click)="changeSortingDirection('down')"
      >
        Sort Down
      </button>
    </nav>
    <div
      *ngFor="
        let item of dataToShow | sortByScore: sortDirectionDown | slice: 0:10
      "
    >
      <div class="hiscore">
        <span>{{ item.name }}: </span><span>{{ item.score }}</span>
      </div>
    </div>
    <button (click)="back()">Back</button>
  </div>
</div>
