.modal2 {
  font-family: Lato, sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  & .center {
    color: #777777;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    height: 80%;
    margin-top: 50px;
    text-align: center;
    border-radius: 7px;
    & div span {
      padding: 5px;
      width: 45%;
      color: black;
      display: block;
      float: left;
    }
    & div span:first-child {
      text-align: right;
    }
    & div span:last-child {
      text-align: left;
    }
    & nav {
      display: block;
      & button {
        margin: 10px;
        &.selected {
          color: red;
        }
      }
    }
  }
}
