/* You can add global styles to this file, and also import other style files */

body {
  background-color: #fff1d5;
  margin: 0;
  &.dark-theme {
    background-color: #202020;
    & main {
     
      & .center {
        background-color: red !important;
      }
    }
  }
}
