/* You can add global styles to this file, and also import other style files */

body {
  background-color: #fff1d5;
  margin: 0;
  &.dark-theme {
    background-color: #202020;
    & main {
      & .center {
        background-color: rgb(57, 57, 57) !important;
        & p {
          color: rgb(177, 177, 177) !important;
        }
        & h2 {
          color: rgb(149, 149, 149) !important;
        }
      }
      & button {
        border: 1px solid rgb(97, 97, 97) !important;
        background-color: rgb(90, 90, 90);
        color: rgb(218, 218, 218) !important;
        &.disabled {
          color: rgb(45, 45, 45) !important;
        }
        &:hover {
          color: rgb(45, 45, 45) !important;
          border: 1px solid rgb(174, 174, 174) !important;
        }
        &.btn-back {
          border: 0 !important;
        }
      }
      & form {
        & .input-container {
          & label {
            color: rgb(132, 132, 132) !important;
          }
          input {
            background-color: #202020 !important;
            color: #b0b0b0 !important;
          }
          & .valid {
            color: #45d245 !important;
          }
        }
      }
    }
    & .right-panel {
      & div {
        & div {
          color: rgb(255, 255, 255) !important;
        }
      }
    }
  }
}

tetris-core.contrast {
  tile {
    background: rgb(51, 51, 51);

    &.color-box {
      background: #acacac;
    }

    &.color-dot {
      background: #acacac;
    }

    &.color-line {
      background: #acacac;
    }

    &.color-t {
      background: #acacac;
    }

    &.color-l {
      background: #acacac;
    }

    &.color-lr {
      background: #acacac;
    }

    &.color-z {
      background: #acacac;
    }

    &.color-s {
      background: #acacac;
    }
  }
}

.dark-theme {
  & .modal {
    & .center {
      & .scores {
        & .names {
          & div {
            color: red !important;
          }
        }
      }
    }
  }
}
